*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#ffd9e6;

    font-family:"Quicksand", sans-serif;
}

.card{
    width:420px;
    min-height:260px;

    background:rgba(255,255,255,0.8);

    backdrop-filter:blur(20px);

    border-radius:35px;

    padding:30px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

    transition:.5s;
}

h1{
    margin-bottom:10px;
}

.subtitle{
    font-size:13px;
    color:#777;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;

    border:none;
    border-radius:15px;

    background:#ffd4ea;

    margin-bottom:12px;
}

button{
    width:100%;
    padding:14px;

    border:none;

    border-radius:15px;

    background:#ff2f6d;

    color:white;

    font-weight:bold;

    cursor:pointer;
}

button:hover{
    opacity:.9;
}

#result{
    margin-top:20px;
}

#devPanel{
    display:none;
    margin-top:25px;
}

.flower{
    position:fixed;
    font-size:24px;
    animation:float 12s linear infinite;
}

@keyframes float{

    from{
        transform:translateY(100vh);
    }

    to{
        transform:translateY(-100px);
    }

}
textarea{
    width:100%;
    padding:14px;
    border:none;
    border-radius:15px;
    background:#ffd4ea;
    margin-bottom:12px;
    resize:none;
    height:80px;
}
#devPanel{
    margin-top:20px;
}
.wish-box{
    margin-top:20px;
}

.mac-window{

    margin-top:20px;

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.mac-bar{

    height:40px;

    background:#ececec;

    display:flex;

    align-items:center;

    gap:8px;

    padding-left:15px;
}

.red,
.yellow,
.green{

    width:12px;
    height:12px;

    border-radius:50%;
}

.red{
    background:#ff5f57;
}

.yellow{
    background:#febc2e;
}

.green{
    background:#28c840;
}

.mac-window img{

    width:100%;

    max-height:450px;

    object-fit:cover;

    display:block;
}

.caption{

    margin-top:15px;

    font-style:italic;

    color:#666;
}